.policy-body-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 2px solid #000000;
  }
  .policy-body-heading {
    text-align: center;
    background: rgba(173, 222, 221, 0.5);
    height: 40px;
    margin: 40px 100px 20px 100px;
    border-radius: 2px;
    border-color: #000000;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: #39A388;
  }
  .policy-body-content{
    margin: 0px 100px 0px 100px;
  }
  .policy{
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 150px;
  }

  ul > li {
    list-style-position: inside;
  }

  b {
    line-height: 40px;
  }