.account {
  display: flex;
}

.account-nav {
  width: 200px;
  background-color: #DCF5E5;
}

.account-nav-name {
  width: 100%;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
}

.account-nav-update {
  display: flex;
  width: 140px;
  margin: 0 auto;
  justify-content: space-between;
  margin-top: 20px;
  align-items: center;
}

.account-nav-update--icon {
  font-size: 28px;
  color: #39A388;
}

.account-nav-update--title {
  font-size: 20px;
  font-weight: medium;
}

.account-info {
  width: 1300px;
  padding: 60px 70px;
} 

.account-info-title {
  font-size: 32px;
  font-weight: bold;
}

.account-info-desc {
  font-size: 20px;
  font-weight: medium;
  margin: 20px 0;
}

.account-info-wrap {
  display: flex;
  justify-content: space-between;
}

.account-info-left {
  
}

.account-info-left-item {
  width: 835px;
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  align-items: center;
}

.account-info-left-item label {
  font-size: 20px;
  font-weight: medium;
}

.account-info-left-item input[type="text"] {
  width: 600px;
  height: 50px;
  background-color: #EAF9EF;
  color: #000;
  padding: 20px;
  border: 1px solid #382d2a;
  outline: none;
  border-radius: 10px;
  font-size: 20px;
}

.account-info-left-item input[type="email"] {
  width: 600px;
  height: 50px;
  background-color: #EAF9EF;
  color: #000;
  padding: 20px;
  border: 1px solid #382d2a;
  outline: none;
  border-radius: 10px;
  font-size: 20px;
}

.account-info-left-item-gender {
  display: flex;
  width: 600px;
  height: 50px;
  font-size: 25px;
  align-items: center;
}

.account-info-left-item-gender label {
  margin-right: 20px;
}

.account-info-left-item-gender input {
  margin-right: 5px;
}

.account-info-right {
  text-align: center;
}

.account-info-right-image {
  width: 160px;
  height: 160px;
  border: 1px solid #382d2a;
  margin-bottom: 10px;
}

.account-info-submit {
  width: 150px;
  height: 50px;
  background-color: #39A388;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  margin: 20px 500px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.account-info-submit:hover {
  background-color: #4fd07e;
}

.logout:hover {
  cursor: pointer;
}